<!DOCTYPE html>
<html ng-app>
    <head>
        <title></title>
        <link rel="stylesheet" href="./stylesheets/style.css">
        <script type="text/javascript" src="/libs/angular/angular.min.js" ></script>
    </head>
    <body>
        <h1>Angular</h1>
        <img src="/images/throh.png">
    <p>This is a test</p>
        <p>
            stuff
            2 + 2 = {{ 2+ 2 }}
            </p>
        <div>
            <label>Name:</label>
            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            <h1>Hello {{yourName}}!</h1>
            </div>
    </body>
</html>